.container {
 background-color: aqua;
  height: auto;
  min-height: 100%;  
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

section {
  height: 100vh;
  background-image: url(./assets/background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

