
@font-face {
  font-family: 'Nouveau_IBM';
  src: local('Nouveau_IBM'), url(./assets/Nouveau_IBM.ttf) format('truetype');
  
}

*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

body {
 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}


ul {
  list-style: none; /* Remove bullet points */
  padding: 0;
  
  
}


a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
  
}


#app {
  font-family: 'Nouveau_IBM', sans-serif;
  height: 100svh; 
  isolation: isolate;
  
}